<div class="ui sidebar inverted vertical menu borderless">
        <a class="item" style="height:45px">
          <i class="large remove icon"></i>
        </a>
        <a href="/" class="item">
          Dasboard <i class="home icon" style="color: white"></i>
        </a>
        <a href="/settings" class="item">
          Settings <i class="cogs icon" style="color: white"></i>
        </a>
         <a href="/privacy" class="item">
          Privacy <i class="lock icon" style="color: white"></i>
        </a>
        <!-- Write jquery to hide these when logged in in or not -->
        
        <a href="/login" class="item">
          Login <i class="sign in alternate icon" style="color: white"></i>
        </a>
        <a href="/register" class="item">
          Register <i class="edit outline icon" style="color: white"></i>
        </a>
</div>