  <div class="ui sidebar inverted vertical menu borderless">
      <a class="item" style="height:45px">
        <i class="large remove icon"></i>
      </a>
      <a class="item">
        Settings <i class="cogs icon" style="color: white"></i>
      </a>
      <a class="item">
        Privacy
      </a>
        <a class="item">
        Accounts <i class="users icon" style="color: white"></i>
      </a>
    </div>
    <div class="pusher">
      <div id="navBar" class="ui fixed borderless menu">
           <div id="burger-menu" href="#" class="item">
             <i class="content icon white-text"></i>
           </div>
          <div class="right menu">
            <a href="#" class="item">
              <img class="logo" src="../images/keepmeup-logo.png">
            </a>
          </div>
        </div>
       <div id="content" class="ui padded grid"></div>
    </div>

<script src="js/index.js" type="text/javascript"> </script>
