<div class="sixteen wide column">
  <div class="ui padded centered algined grid center-block">
    <div class="five wide column" style="background-color: orange">
      {{content}}
    </div>
    <div class="five wide column" style="background-color: grey">

    </div>
    <div class="five wide column" style="background-color: orange">

    </div>
  </div>
</div>
