<div class="sixteen wide column">
  <div class="ui centered algined grid">
    <div class="eight wide column">
      <form class="ui form" method="post" action="/login">
          <label for="username">Username</label>
          <input type="text" name="username" value="">
          <label for="password">Password</label>
          <input type="password" name="password" value="">
          <button class="ui button" type="submit" name="button">Log in</button>
      </form>
    </div>
  </div>
</div>
