<div class="sixteen wide column">
  <div class="ui centered algined grid">
    <div class="eight wide column">
      <form class="ui form" action="POST" method="post" action="users/login">
          <label for="username">Username</label>
          <input type="email" name="username" value="">
          <label for="password">Password</label>
          <input type="password" name="password" value="">
      </form>
    </div>
  </div>
</div>
