#content{
  height: 100vh;
  padding: 5em 1em 1em 1em;
}
.lab-hidden{
  display: none !important;
}
.header-search{
  display: block !important;
  margin-left: auto !important;
}
.center-block{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
#dashboard{
  background-color: grey;
}
.login-column{
  max-width: 450px;
}
#login{
height: 100%;
}
