<div class="sixteen wide column">
  <div class="ui padded centered algined grid center-block">
       <link rel="stylesheet" href="/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/app.css">
<<<<<<< HEAD:views/pages/dashboard.ejs
    <div class="five wide column" style="background-color: orange">
  
=======
    <div class="five wide center aligned column">
         <h3>INSTAGRAM</h3>
    </div>
    <div class="five wide center aligned column">
         <h3>TWITTER</h3>
    </div>
    <div class="five wide center aligned column">
         <h3 style="font-weight: bold">REDDIT</h3>
    </div>
  
  <div class="ui padded centered algined grid center-block">
    <div class="five wide column" style="background-color: #ebebeb">
      {{content}}
>>>>>>> 76cfab9b3594267680be0b9ee102df411fa91445:views/index.handlebars
    </div>
    <div class="five wide column" style="background-color: #ebebeb">

    </div>
    <div class="five wide column" style="background-color: #ebebeb">

    </div>
  </div>
</div>
