<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/app.css">
      <title>KeepMeUp</title>
  </head>
  <body>
    <div id="login" class="ui middle aligned center aligned grid">
      
        <div class="column">
      <img src="images/keepmeup-logo-no-text.png" class="ui centered small image">
        <h2 class="ui orange header">Login</h2>
    <form class="ui form" method="post" action="/login">
      <div class="ui segment ">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large orange submit button" type="submit" name="button">Login</button>
      </div>
      <div class="ui error message"></div>
    </form>

    <div class="ui message">
      New to us? <a href="/register">Sign Up</a>
    </div>
      
  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/dist/semantic.min.js"></script>
  </body>
</html>



