<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="/dist/semantic.min.css">
      <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <!-- {{#if errors}}
  {{#each errors}}
  <div class="alert ui error message">{{msg}}</div>
  {{/each}}
{{/if}} -->
<div id="register" class="ui middle aligned center aligned grid">
      
    <div class = "column">
    <h2 class="ui orange header">Sign up with us!</h2>
        <p id="login-text">Register yourself to enjoy all your favourite social media feeds on one place.</p>
        <br>
    <div class="ui segment"> 
        <h2 class="ui orange icon header">
      <i class="user circle icon"></i>
        </h2>
      
      <form class="ui form" action="/register" method="post">
          <!-- Put form in here e.g.  -->
          <div class="field">
             <input type="text" name="name" placeholder="Full Name">
           </div>
           <div class="field">
             <input type="text" name="username" placeholder="Username">
           </div>
           <div class="field">
             <input type="email" name="email" placeholder="Email">
           </div>
           <div class="field">
             <input type="password" name="password" placeholder="Password">
           </div>
           <div class="field">
             <input type="password" name="password2" placeholder="Confirm Password">
           </div>
           <button type="submit" class="ui fluid large orange submit button" name="button">Get Started!</button>   
          </form>
        </div>
        <div class="ui message">
        Already have an account? <a href="/login">Login!</a>
        </div>
    </div>
</div>
</body>
</html>


