<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Group13">
    <link rel="stylesheet" href="/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/app.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>KeepMeUp</title>
  </head>
  <body>
     <div class="ui sidebar inverted vertical menu borderless">
        <a class="item" style="height:45px">
          <i class="large remove icon"></i>
        </a>
        <a href="/" class="item">
          Dasboard <i class="home icon" style="color: white"></i>
        </a>
        <a href="/settings" class="item">
          Settings <i class="cogs icon" style="color: white"></i>
        </a>
         <a href="/privacy" class="item">
          Privacy <i class="lock icon" style="color: white"></i>
        </a>

      </div>
      <div class="pusher">
        <div id="navBar" class="ui fixed borderless menu">
             <div id="burger" href="#" class="item">
               <i class="content icon white-text" style="color: white"></i>
             </div>
<div class="sixteen wide column">
 <form class="ui form" method="post" action="/settings">
<div class="ui centered grid">
        <div class="ten wide centered column">
           <div id="settingsMenu" class="ui three item menu">
              <a class="item active" data-tab="basic">
              Basic Information
                </a>
          <a class="item" data-tab="account">
              Accounts
                    </a>
                     <a class="item" data-tab="addAccount">
                         Add account
                     </a>
                   </div>
    </div>

    
             <div class="ten wide column">
                 <div class="ui tab active" data-tab="basic">


                <img class="ui centered small image" src="../images/keepmeup-logo-no-text.png">


                     <div class="ui huge center aligned header">Profile</div>
                     <table class="ui celled table">
                      <tbody>
                        <tr>
                          <td>
                              <b>name</b>
                          </td>
                          <td>
                            Firstname Lastname
                          </td>
                        </tr>

                        <tr>
                          <td>
                              <b>age</b>
                          </td>
                          <td>
                            xx years old
                          </td>
                        </tr>

                        <tr>
                          <td>
                              <b>username</b>
                          </td>
                          <td>
                            KeepMeUp Username
                          </td>
                        </tr>

                        <tr>
                          <td>
                              <b>contact</b>
                          </td>
                          <td>
                            (+44) 07x xxx xxxxx
                          </td>
                        </tr>

                        <tr>
                          <td>
                              <b>email</b>
                          </td>
                          <td>
                            email@email.com
                          </td>
                        </tr>
                      </tbody>
                    </table>
                         </div>
                         </div>

                    <br>

                    <div class="ui huge center aligned header">About me</div>
                    <div class = "ui eight wide center aligned segment">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fermentum arcu quis lorem condimentum posuere. Donec nec nisi mauris. Mauris pretium, ligula lacinia fermentum semper, tortor purus posuere tellus, quis porttitor dui nisi sit amet diam.</p>
                    </div>
                 <div class="ui tab" data-tab="account">
                     <br>
                     <div class="ui three column grid">
                       <div class="column">
                         <div class="ui card">
                           <a class="image" href="#">
                             <img src="../images/iprofile3.png">
                           </a>
                           <div class="content">
                             <a class="header" href="https://www.instagram.com/">Instagram</a>
                             <div class="meta">
                               <p>Instagram username</p>
                             </div>
                           </div>
                           <div class="ui bottom attached red button">

                             delete account
                           </div>
                         </div>
                       </div>

                       <div class="column">
                         <div class="ui card">
                           <a class="image" href="#">
                             <img src="../images/tprofile3.png">
                           </a>
                           <div class="content">
                             <a class="header" href="https://twitter.com/">Twitter</a>
                             <div class="meta">
                               <p>Twitter username</p>
                             </div>
                           </div>
                           <div class="ui bottom attached red button">

                             delete account
                           </div>
                         </div>
                       </div>

                       <div class="column">
                         <div class="ui card">
                           <a class="image" href="#">
                             <img src="../images/rprofile3.png">
                           </a>
                           <div class="content">
                             <a class="header" href="https://www.reddit.com/">Reddit</a>
                             <div class="meta">
                               <p>Reddit username</p>
                             </div>
                           </div>
                           <div class="ui bottom attached red button">

                             delete account
                           </div>
                         </div>
                       </div>

                     </div>
                 </div>
                 <div class="ui tab" data-tab="addAccount">

                      <div id="addAccountContent" class="ui padded centered grid">
                      <div class="twelve wide center aligned column">
                      <h3>Add an account with us!</h3>
                 <div class="field">
                <p>Choose desired social media, enter your account username and we'll get it linked up!</p>

                </div>
                <!--
            <div class="field">
          <div class="ui input">
            <input type="text" name="reddit username" placeholder="reddit account ">
          </div>
        </div>
        <br>
        <div class="field">
          <div class="ui input">
            <input type="text" name="instagram username" placeholder="instagram account">
          </div>
        </div>
            <br>
            <div class="field">
          <div class="ui input">
            <input type="text" name="twitter username" placeholder="instagram account">
          </div> -->
                    <br>
                      <div class="ui padded form">
                        <div class="ui selection dropdown">
                          <input type="hidden" name="social-media">
                          <i class="dropdown icon"></i>
                          <div class="default text">Choose...</div>
                          <div class="menu">
                            <div class="item" data-value="0">Instagram</div>
                            <div class="item" data-value="1">Reddit</div>
                            <div class="item" data-value="2">Twitter</div>
                          </div>
                        </div>
                        <br>
                        <br>
                        <div class="field">
                          <div class="ui input">
                            <input type="text" name="username" placeholder="account name">
                          </div>
                          <br>
                        </div>
                        <button class=" ui button">Search for Account!&nbsp<i class="fa fa-search"></i></button>
                     </div>
                   </div>
                     </div>
    </div>
     </div>
    
     </form>
      </div>
    </body>
      